# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
node_modules/*
.nuxt/*
.dist
dist
# Other files and folders
.settings/
static
# Executables
*.swf
*.air
*.ipa
*.apk
/copy
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.idea
